/* ESITLOS PRINCIPALES */
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    color: white;
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    margin: 0;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}


/* ESTILOS DE LA SECCION ---HEADER---  */
.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.header ol li {
    height: inherit;
}
.header a {
    display: flex;
    align-items: center;
    height: inherit;
    text-decoration: none;
    padding: 0 10px;
    color: white;
}

.header ol {
    display: flex;
    height: inherit;
}


figure {
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.hero {
    height: 300px;
    background-color: #1b2127;
    background-image: url(../images/hero.jpg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    color: white;
    display: flex;
    align-items: center;
}

.menu {
    height: inherit;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    /* margin-bottom: 15px; */
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project-strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.flexbox {
    display: flex;

}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

.footer {
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}