/* ESITLOS PRINCIPALES */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

h1 strong {
    color: #026fff
}

.header {
    background-color: #1b2127;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 300px;
    background-color: #1b2127;
    background-image: url(../images/hero.jpg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    color: white;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}
